<div id="c{data.uid}" class="row">

	<f:if condition="{data.tx_gridelements_view_column_101}">
		<div class="{data.flexform_xsCol1} {data.flexform_smCol1} {data.flexform_mdCol1} {data.flexform_lgCol1} {data.flexform_col31class}">
			<f:format.raw>{data.tx_gridelements_view_column_101}</f:format.raw>
		</div>
	</f:if>

	<f:if condition="{data.tx_gridelements_view_column_102}">
		<div class="{data.flexform_xsCol2} {data.flexform_smCol2} {data.flexform_mdCol2} {data.flexform_lgCol2} {data.flexform_col32class}">
			<f:format.raw>{data.tx_gridelements_view_column_102}</f:format.raw>
		</div>
	</f:if>

	<f:if condition="{data.tx_gridelements_view_column_103}">
		<div class="{data.flexform_xsCol3} {data.flexform_smCol3} {data.flexform_mdCol3} {data.flexform_lgCol3} {data.flexform_col33class}">
			<f:format.raw>{data.tx_gridelements_view_column_103}</f:format.raw>
		</div>
	</f:if>

</div>