<div class="mtg ge-tabs">
	<style>
		.t3content {
			background-color: rgba(255,255,255,0.8);
			padding: 2rem;
		}
		.frame-type-gridelements_pi1.frame-layout-1 {
			display: flex;
			flex-flow: column;
		}
		.frame-type-gridelements_pi1.frame-layout-1 > h1 {
			order:2;
			color: #F6752E;
		}
		.frame-type-gridelements_pi1.frame-layout-1 > h3 {
			order:1;
			color: #F6752E;
			font-size: 1em;
		}
		.frame-type-gridelements_pi1.frame-layout-1 > div {
			order:3;
		}
		.frame-type-gridelements_pi1.frame-layout-1 .nav-tabs {
			display: flex;
			justify-content: space-between;
			margin: 20px 0 40px;
			padding: 0;
		}
		.frame-type-gridelements_pi1.frame-layout-1  ul li {
			list-style: none;
			margin: 0;
			padding: 0;
		}
		.frame-type-gridelements_pi1.frame-layout-1  ul li:before {
			display: none;
		}
		.frame-type-gridelements_pi1.frame-layout-1  ul li a {
			text-decoration: none;
			display: flex;
			background-color: #F6752E;
			max-width: 6em;
			font-size: 2em;
			text-align: center;
			padding: 10px 2em;
			box-sizing: content-box;
			line-height: 1.25em;
			color: #fff;
			flex-flow: column;
			height: 100%;
			align-content: center;
			justify-content: center;
		}
		.frame-type-gridelements_pi1.frame-layout-1  ul li a span {
			font-size: 0.66em;
			line-height: 1.2em;
		}
		.frame-type-gridelements_pi1.frame-layout-1 .tab-pane {
			display: none;
		}
		.frame-type-gridelements_pi1.frame-layout-1 .tab-pane.active {
			display:block;
		}
	</style>
	<div class="{data.flexform_style}">
		<ul class="nav nav-tabs">
		<f:for each="{data.tx_gridelements_view_children}" as="data_item">
			<li id="tab-element-{data_item.uid}" data-taget="tab-{data_item.uid}" onclick="event.preventDefault();
				let myTabs = document.querySelectorAll('ul.nav-tabs > li');
				for (let i = 0; i < myTabs.length; i++) myTabs[i].classList.remove('active');
				event.currentTarget.classList.add('active')
				let myContentPanes = document.querySelectorAll('.tab-pane');
				for (let i = 0; i < myContentPanes.length; i++) myContentPanes[i].classList.remove('active');
			    document.querySelector(event.target.getAttribute('href')).classList.add('active')">
				<a href="#tab-{data_item.uid}" class="tab" role="tab" data-toggle="tab">
					{data_item.header}
					<f:if condition="{data_item.subheader}">
						<span>{data_item.subheader}</span>
					</f:if>
				</a>
			</li>
		</f:for>
		</ul>
		<div class="tab-content">
			<f:format.raw>{data.tx_gridelements_view_columns.101}</f:format.raw>
		</div>
	</div>
</div>
